<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

       <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        <title>Catalog</title>
    </head>
    <body>
        <div class="container text-center">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand" href="#">Movie Website</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                     <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('showCatalog') }}">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Movies</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           {% for i in catalogs %}
                           <a class="dropdown-item" href= "{{url_for('showItem', catalog_name = i.name)}}">{{i.name}}</a>
                           {% endfor %}
                        </div>
                     </li>
                   </ul>
              </div>
              <a class="btn btn-outline-light" href="{{url_for('logout')}}"> Logout</a>
            </nav>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="list-unstyled p-2 my-2 bg-success text-white">
                {% for i in messages %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/static/avengers.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/static/venom.jpg" alt="second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


            <ul class="list-inline my-4">
                {% for i in catalogs %}
                <li class="list-inline-item ml-4"><a class="btn btn-secondary" href= "{{url_for('showItem', catalog_name = i.name)}}">{{i.name}}</a></li>
                {% endfor %}
            </ul>


        </div>

        <script>

           //      FB.init({
           //     appId: '386415451963495',
           //     cookie: true,
           //     xfbml: true,
           //     version: 'v3.3'
           // });
           //
           // function logoutFromFacebookAndRedirect(redirectUrl) {
           //     FB.getLoginStatus(function (response) {
           //         if (response.status == 'connected')
           //             FB.logout(function (response) {
           //                 window.location.href = redirectUrl;
           //             });
           //         else
           //             window.location.href = redirectUrl;
           //     });
           // }
            // function signInCallback(authResult) {
            //   if (authResult['code']) {
            //     // Hide the sign-in button now that the user is authorized
            //     $('#signinButton').attr('style', 'display: none');
            //     // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            //     $.ajax({
            //       type: 'POST',
            //       url: '/gconnect?state={{STATE}}',
            //       processData: false,
            //       data: authResult['code'],
            //       contentType: 'application/octet-stream; charset=utf-8',
            //       success: function(result) {
            //         // Handle or verify the server response if necessary.
            //         if (result) {
            //           $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            //          setTimeout(function() {
            //           window.location.href = "/catalogs";
            //          }, 4000);
            //
            //       } else if (authResult['error']) {
            //     console.log('There was an error: ' + authResult['error']);
            //   } else {
            //         $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            //          }
            //       }
            //
            //   }); } }

            // FB.logout(function(response) {
            //     console.log(response);
            //   FB.Auth.setAuthResponse(null, 'unknown');
            // });
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
