
{% extends "prelogin-layout.html" %}
{% block title %} Edit {% endblock title%}
{% block content %}
        <div class="container">
            <h2>Edit Movie</h2>
            <form action="{{ url_for('editItem', catalog_name = catalog_name, item_name = item_name) }}" method="post">
              <div class="form-group">
                <label for="formGroupInput">Name</label>
                <input type="text" class="form-control" name="name" id="formGroupInput" placeholder="{{item.name}}">
              </div>
              <div class="form-group">
                 <label for="inputState">Genre</label>
                 <select id="inputState" class="form-control" name="genre">
                   <option selected>Choose...</option>
                   {% for i in catalogs %}
                       <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}

                 </select>
               </div>
               <input class="btn btn-outline-secondary" type="submit" value="Edit">
               <a class="btn btn-outline-secondary ml-2" href="{{ url_for('showItem', catalog_name = catalog_name) }}"> Cancel</a>
            </form>
        </div>
{% endblock %}
